<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Amazon</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../assets/fonts/font-awesome-4.7.0/css/font-awesome.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="../assets/css/main.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

</head>
<body>

<footer>
    <div class="center">
        <div class="row">
            <nav class="row col-sm-10">
                <ul>
                    <li>
                        Pour mieux nous connaître
                    </li>
                    <li><a href="#">À propos d'Amazon</a></li>
                    <li><a href="#">Carrières</a></li>
                    <li><a href="#">Amazon et notre planète</a></li>
                    <li><a href="#">Amazon Ensemble</a></li>
                </ul>
                <ul>
                    <li>
                        Gagnez de l'argent
                    </li>
                    <li><a href="#">Vendez sur Amazon</a></li>
                    <li><a href="#">Devenez Partenaire</a></li>
                    <li><a href="#">Expédié par Amazon</a></li>
                    <li><a href="#">Faites la promotion de vos produits</a></li>
                    <li><a href="#">Auto-publiez votre livre
                    </a></li>
                    <li><a href="#">Amazon Pay</a></li>
                    <li><a href="#">Devenez fournisseur</a></li>
                </ul>
                <ul>
                    <li>
                        Moyens de paiement Amazon
                    </li>
                    <li><a href="#">Cartes de paiement</a></li>
                    <li><a href="#">Amazon Currency Converter</a></li>
                    <li><a href="#">Chèques-cadeaux</a></li>
                    <li><a href="#">Recharge en ligne</a></li>
                    <li><a href="#">Recharge en magasin</a></li>
                </ul>
                <ul>
                    <li>
                        Besoin d'aide?
                    </li>
                    <li><a href="#">Visualiser ou suivre vos commandes</a></li>
                    <li><a href="#">Tarifs et options de livraison</a></li>
                    <li><a href="#">Amazon Prime</a></li>
                    <li><a href="#">Retours et remplacements</a></li>
                    <li><a href="#">Application Amazon Mobile</a></li>
                    <li><a href="#">Amazon Assistant</a></li>
                    <li><a href="#">Aide</a></li>
                </ul>
            </nav>
            <div class="row col-sm-2">
                <div>
                    <a href=""><img class="img-fluid" src="../assets/images/logo.png" alt="Logo Amazon"></a>
                </div>
                <div class="btn-group" role="group">
                    <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="../assets/images/french.jpg" alt="France">
                    </button>
                    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <a class="dropdown-item" href="#"><img src="../assets/images/french.jpg" alt="France"></a>
                        <a class="dropdown-item" href="#"><img src="../assets/images/english.jpg" alt="England"></a>
                        <a class="dropdown-item" href="#"><img src="../assets/images/usa.jpg" alt="USA"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="hr-footer">
            <hr>
        </div>

        <div class="row d-flex justify-content-center">
            <a href="#"><img class="img-fluid w-50" src="../assets/images/part1.png" alt="Audible"></a>
            <a href="#"><img class="img-fluid w-50" src="../assets/images/part2.png" alt="Amazon Music"></a>
            <a href="#"><img class="img-fluid w-50" src="../assets/images/part3.png" alt="AWS"></a>
            <a href="#"><img class="img-fluid w-50" src="../assets/images/part4.png" alt="Kindle"></a>
            <a href="#"><img class="img-fluid w-50" src="../assets/images/part5.png" alt="Amazon Prime"></a>
        </div>

        <div class="row d-flex justify-content-center">
            <a href="#"class="link small">Conditions générales de vente</a>
            <p class="small">© 1996-2017, Amazon.com, Inc. ou ses filiales.</p>
        </div>
    </div>
</footer>

</body>
</html>