* {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

header {
    margin-right: 1%;
    margin-left: 1%;
}
.navbar {
    position: static;
}
.logo {
    width: 10%;
    height: auto;
}

.search-bar {
    width: 500px;
}

.form-inline .input-group {
    width: 100%;
}

.form-inline .input-group .input-group-btn button {
    background-color: #171719;
}

.form-inline .input-group button[type='submit'] {
    border-color: #feaf17;
    color: #feaf17;
    height: 100%;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.form-inline .input-group button[type='submit']:hover {
    background-color: #feaf17;
    color: #ffffff;
}

.nav-item a i {
    color: #feaf17;
    border: solid 1px #feaf17;
    border-radius: 3px;
    padding: 10px;
}

.nav-item a i:hover {
    color: #ffffff;
    background-color: #feaf17;
}
